# This task disables swap for Kubernetes node (see https://github.com/kubernetes/kubernetes/pull/31996)
- name: Disable swap
  command: swapoff -a

- name: Disable swap permanently
  replace:
    path: /etc/fstab
    regexp: '^(\s*)([^#\n]+\s+)(\w+\s+)swap(\s+.*)$'
    replace: '#\1\2\3swap\4'
    backup: yes

# Set ip forwarding on in /proc and in the sysctl file and reload if necessary
- name: Enable ip forwarding
  sysctl:
    name: net.ipv4.ip_forward
    value: 1
    sysctl_set: yes
    state: present
    reload: yes

- name: Enable iptables forwarding
  iptables:
    chain: FORWARD
    policy: ACCEPT
  become: yes

- name: Install nfs-common (required for freenas-provisioner)
  apt:
    name:           nfs-common
    state:          present
    update_cache:   yes

- name: Install socat (needed for helm)
  apt:
    name:   socat
    state:  present

# Install Docker
- name: Add Docker GPG key
  apt_key: url=https://download.docker.com/linux/ubuntu/gpg

- name: Add Docker APT repository
  apt_repository:
    repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ansible_distribution_release}} stable

- name: Install docker and related packages
  apt:
    name: ['apt-transport-https','ca-certificates','curl','software-properties-common','docker-ce']
    state: present
    update_cache: yes


# Install Kubernetes executables
- name: Install kubernetes dependencies
  apt:
    name: ['conntrack']
    state: present

- name: Copy executables to /usr/bin
  copy:
    src:   ../files/usr/bin/
    dest:  /usr/bin
    owner: root
    group: root
    mode:  u+rwx,g+rx,o+x

- name: Copy kubelet service file
  copy:
    src:   ../files/etc/systemd/system/
    dest:  /etc/systemd/system/
    owner: root
    group: root
    mode:  u+rw,g+r,o+r

# Create config directory
- file:
    path: "{{ item }}"
    state: directory
    mode: u=rw,g=r
  with_items:
  - /var/lib/kubelet/

- name: Copy kubelet config files
  template:
    src:   '{{ item }}'
    dest:  /var/lib/kubelet/{{ item | basename | regex_replace('\.j2','') }}
    owner: root
    group: root
    mode:  u+rw,g+r,o+r
  with_fileglob:
  - ../templates/var/lib/kubelet/*.j2

- name: Copy Kubernetes config files
  copy:
    src:   ../files/etc/kubernetes/
    dest:  /etc/kubernetes/
    owner: root
    group: root
    mode:  u+r,g+r,o+r
