apiVersion: v1
clusters:
- cluster:
    server: https://{{ master_ip }}:6443
  name: test-k8s
contexts:
- context:
    cluster: test-k8s
    user: system:kube-controller-manager
  name: system:kube-controller-manager@test-k8s
current-context: system:kube-controller-manager@test-k8s
kind: Config
preferences: {}
users:
- name: system:kube-controller-manager
  user:
    username: system:kube-controller-manager
