apiVersion: v1
clusters:
- cluster:
    server: https://{{ master_ip }}:6443
  name: test-k8s
contexts:
- context:
    cluster: test-k8s
    user: system:node:master
  name: system:node:master@test-k8s
current-context: system:node:master@test-k8s
kind: Config
preferences: {}
users:
- name: system:node:master
  user:
    username: system:node:master
